section#blogs {
	padding: var(--section-padding);
	.container {
		> h1 {
			text-align: center;
			font-family: var(--font-title);
			font-weight: 700;
			font-size: 42px;
			padding-top: 20px;
		}

		> h2 {
			text-align: center;
			color: #ff9800;
			font-weight: 700;
			font-family: var(--font-title);
		}
        .blogs {
            display: flex;
            margin-top: 50px;
            gap: 30px;
			flex-wrap: wrap;
        }
	}
}
