nav {
	position: absolute;
	left: 0;
	width: 100%;
	top: 0;
	z-index: 1;
	transition: 0.35s;
	&.sticky {
		position: fixed;
		background: #fff;
		z-index: 999;
		box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
		.navbar-items {
			> ul {
				> li {
					> a, .none-redirect {
						color: #000 !important;
					}
				}
			}
		}
		.container {
			.navbar-logo {
				a {
					&:first-child {
						display: none;
					}
				}
				.logo-dark {
					display: block;
				}
			}
		}
	}
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.navbar-logo {
			.logo-dark {
				display: none;
			}
		}
		.navbar-items {
			> ul {
				display: flex;
				align-items: center;
				gap: 0 30px;
				> li {
					&.dropdown {
						position: relative;
						&:hover {
							.dropdown-items {
								visibility: visible;
								transform: scaleY(1);
							}
						}
						.dropdown-items {
							visibility: hidden;
							transform: scaleY(0);
							transform-origin: top center;
							transition: 0.35s all;
							z-index: 9999999;
							box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
							position: absolute;
							background: #fff;
							width: 100%;
							min-width: 250px;
							left: 0;
							ul {
								li {
									a {
										border-bottom: 1px solid rgba(#000, 0.05);
										padding: 10px 20px;
										display: block;
										font-size: 15px;
										font-weight: 500;
										transition: 0.35s;
										&:hover {
											color: #007bff;
										}
									}
								}
							}
						}
						> a,
						.none-redirect {
							display: flex;
							align-items: center;
							svg {
								margin-top: 2px;
							}
						}
					}
					> a,
					.none-redirect {
						display: block;
						padding: 30px 0;
						color: #fff;
						font-weight: 600;
						font-size: 15px;
						transition: 0.35s;
            cursor: pointer;
						&:hover {
							color: #007bff;
						}
					}
				}
			}
		}
		.contact-button {
			a {
				background: #3e57d0;
				color: #fff;
				font-weight: 600;
				font-family: var(--font-title);
				border-radius: 4px;
				box-shadow: 0 7px 25px rgb(123 104 238 / 25%);
				padding: 12px 30px;
				font-size: 15px;
			}
		}
	}
}
